@media (max-width: 600px) {
  .paggination ul li {
    padding: 5px 10px;
  }
  .movie-cover img {
    width: auto;
  }

  #header .header-right {
    display: none;
  }

  #modal-content iframe {
    width: 90vw;
    height: 70vh;
    margin: auto;
  }

  #header .dropdown {
    display: block;
    padding: 10px 15px;
    background-color: #3696f8;
    color: white;
    border-radius: 5px;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    background: #2c3237;
    width: 100%;
    left: 0;
    right: 0;
    top: -150px;
    position: fixed;
    padding-top: 10px;
    transition: top 0.2s;
    z-index: 3;
    box-shadow: 0px 2px 20px #262b2f;
  }

  .dropdown-open {
    top: 40px;
  }

  .dropdown-menu a {
    margin-top: 5px;
    padding: 15px;
  }

  .dropdown-menu a:hover {
    background-color: #f0f0f054;
  }

  .selected {
    width: 100%;
    margin: 0;
  }
  #options-box {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  /* Movie */
  .movie {
    flex-direction: column;
  }

  .movie-cover {
    padding: 0 30px;
  }

  .movie-actors ul,
  .screenshots {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .movie-actors ul li,
  .screenshots img {
    width: 100%;
  }

  .movie-detail {
    flex-direction: column;
  }

  .screenshots,
  .movie-actors ul {
    flex-direction: column;
  }
  .screenshots img {
    margin: 10px 0;
  }
}

@media (max-width: 800px) {
  .movie-detail {
    flex-direction: column;
    align-items: center;
  }

  .cover-play {
    display: none;
  }

  .movie-poster img {
    margin-left: auto;
  }

  .movie-poster {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie-poster .play {
    display: flex;
    position: absolute;
    top: 17%;
  }
}

@media (max-width: 400px) {
  .more {
    flex-direction: column;
  }

  .more li {
    padding: 10px 0;
  }
  .movie-poster img {
    margin-top: -150px;
  }

  .movie-poster .play {
    top: -10%;
  }
}

@media (max-width: 992px) {
  .movie-cover #links {
    display: none;
  }

  #links {
    display: flex;
  }
}
